.locationList {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.locationList th,
.locationList td {
  border: 1px solid #ddd;
  padding: 8px;
}

.locationList th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
  color: black;
}

.locationList tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  color: var(--color-brand--2);
}

.locationList tbody tr:hover {
  background-color: #ddd;
}

.locationList th,
.locationList td {
  text-align: center;
  vertical-align: middle;
}
