.chat-content {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content > :first-child {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-content > :nth-child(2) {
  flex: 0 0 35px; 
}
