.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  gap: 1.25rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7rem;
}

.links a:first-child {
  text-decoration: none;
  color: #24292e;
}

.links a:last-child {
  text-decoration: none;
  color: #2c974b;
}
