.imessage {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  max-width: 95vh;
  padding: 0.5rem 1.5rem;
  max-height: calc(93vh - 1rem);
  overflow-y: auto;
  align-items: flex-start;
  background: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.empty {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
